@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "wizzta.regular";
  src: url("/fonts/wizzta.regular.ttf");
}

body {
  background-color: #1C1C1E;
  overflow-x: hidden;
}

p, li {
  color: #CFC297;
  font-family: "wizzta.regular";
}

/* The container for the scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

/* The thumb, or handle, of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #CFC297;
  border-radius: 10px;
}

/* The track, or area, surrounding the thumb */
::-webkit-scrollbar-track {
  background-color: transparent;
}