@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "wizzta.regular";
  src: url("/fonts/wizzta.regular.ttf");
}

body {
  background-color: #1C1C1E;
  overflow-x: hidden;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p, li {
  color: #CFC297;
  font-family: "wizzta.regular";
}

/* The container for the scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

/* The thumb, or handle, of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #CFC297;
  border-radius: 10px;
}

/* The track, or area, surrounding the thumb */
::-webkit-scrollbar-track {
  background-color: transparent;
}

.underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #CFC297;
  transition: all 0.2s ease-in-out;
}

.underline:hover::before {
  width: 100%;
}