@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "wizzta.regular";
  src: url("/fonts/wizzta.regular.ttf");
}

body {
  background-color: #1C1C1E;
  overflow-x: hidden;
}

p, li {
  color: #CFC297;
  font-family: "wizzta.regular";
}
